.container {
    width:  auto;
    height: auto;
}

.background {
    height: 300px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid black;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marginAlign {
    padding: 10px;
}

.textBox {
    height: 20px;
    width: 150px;
    outline: none;
    border-radius: 5px;
    text-align: center;
}

.countryCode {
    margin-left: 6px;
}

@media only screen and (max-width: 500px) {
    .background {
        width: 310px;
    }

    .background h1 {
        font-size: large;
    }
}